{% if fastd_bind is defined %}
{% for b in fastd_bind %}
bind {{ b }};
{% endfor %}
{% else %}
bind 0.0.0.0:10000;
{% endif %}

drop capabilities {{ fastd_drop_capabilities | default('yes') }};
forward {{ fastd_forward | default('no') }};
hide ip addresses {{ fastd_hide_ip | default('no') }};
hide mac addresses {{ fastd_hide_mac | default('no') }};

{% if fastd_peers is defined %}
{% for name, group in fastd_peers.iteritems() %}
{% if group.peers_dir is defined %}
peer group "{{ name }}" {
  include peers from "{{ group.peers_dir }}";
{% if group.peers_limit is defined %}
  peer limit {{ group.peers_limit }};
{% endif %}
}
{% endif %}
{% endfor %}
{% endif %}
interface "{{ fastd_interface }}";

log to syslog level {{ fastd_syslog_level | default('info') }};

{% if fastd_methods is defined %}
{% for cipher in fastd_methods %}
method "{{ cipher }}";
{% endfor %}
{% else %}
method "salsa2012+umac";
{% endif %}
mode {{ fastd_mode | default('tap') }};
mtu {{ fastd_mtu | default(1500) }};

{% if fastd_on_pre_up is defined and fastd_on_pre_up.command is defined %}
on pre-up {{ fastd_on_pre_up.mode | default('sync') }} "{{ fastd_on_pre_up.command }}";
{% endif %}
{% if fastd_on_up is defined and fastd_on_up.command is defined %}
on up {{ fastd_on_up.mode | default('sync') }} "{{ fastd_on_up.command }}";
{% endif %}
{% if fastd_on_down is defined and fastd_on_down.command is defined %}
on down {{ fastd_on_down.mode | default('sync') }} "{{ fastd_on_down.command }}";
{% endif %}
{% if fastd_on_post_down is defined and fastd_on_post_down.command is defined %}
on post-down {{ fastd_on_post_down.mode | default('sync') }} "{{ fastd_on_post_down.command }}";
{% endif %}
{% if fastd_on_connect is defined and fastd_on_connect.command is defined %}
on connect {{ fastd_on_connect.mode | default('async') }} "{{ fastd_on_connect.command }}";
{% endif %}
{% if fastd_on_establish is defined and fastd_on_establish.command is defined %}
on establish {{ fastd_on_establish.mode | default('async') }} "{{ fastd_on_establish.command }}";
{% endif %}
{% if fastd_on_disestalish is defined and fastd_on_disestablish.command is defined %}
on disestablish {{ fastd_on_disestablish.mode | default('async') }} "{{ fastd_on_disestablish.command }}";
{% endif %}
{% if fastd_on_verify is defined and fastd_on_verify.command is defined %}
on verify {{ fastd_on_verify.mode | default('async') }} "{{ fastd_on_verify.command }}";
{% endif %}

pmtu {{ fastd_pmtu | default('auto') }};

secret "{{ fastd_secret }}";
secure handshakes {{ fastd_secure_handshakes | default('yes') }};

{% if fastd_status_socket_path is defined %}
status socket "{{ fastd_status_socket_path }}";
{% endif %}
